apiVersion: apps/v1
kind: Deployment
metadata:
  name: assigner
spec:
  # Do not run more than one replica; this overlay is designed to run a single instance only.
  replicas: 1
  selector:
    matchLabels:
      app: assigner
  # Terminate previous assigner before rolling out new ones to avoid conflicts between assignments.
  strategy:
    type: Recreate
    # Explicitly override the default rolling update configuration. Otherwise, the manifest will be 
    # invalid when strategy.type is set to Recreate.
    # See:
    #  - https://github.com/kubernetes/kubernetes/issues/24198
    rollingUpdate: null
  template:
    metadata:
      labels:
        app: assigner
    spec:
      terminationGracePeriodSeconds: 30
      securityContext:
        runAsUser: 10001
        fsGroup: 532
      containers:
        - name: assigner
          image: storetheindex
          command: ["/sbin/tini", "--", "/usr/local/bin/start_assigner"]
          args:
            - 'daemon'
          env:
            - name: GOLOG_LOG_LEVEL
              value: INFO
            - name: GOLOG_LOG_FMT
              value: json
            - name: STORETHEINDEX_PRIV_KEY_PATH
              value: /identity/identity.key
            - name: ASSIGNER_PATH
              value: /config
          ports:
            - containerPort: 3001
              name: http
            - containerPort: 3003
              name: libp2p
            - containerPort: 8081
              name: metrics
          readinessProbe:
            httpGet:
              port: http
              path: /health
            initialDelaySeconds: 10
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 5
            periodSeconds: 10
