apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storetheindex
resources:
- assigner
- instances
- indexstar
- dhstore
- caskadht
images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex # {"$imagepolicy": "storetheindex:storetheindex:name"}
  newTag: 20230201155321-7a726cb5e36a937cde80ee0ac95fcd222e409d93 # {"$imagepolicy": "storetheindex:storetheindex:tag"}
