apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storetheindex
resources:
- service-account.yaml
- assigner
- instances
- indexstar
- dhstore
- dhstore-ago2
- dhstore-ago3
- caskadht
- snapshots
- lookout
- cassette
- heyfil
- telemetry
images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex # {"$imagepolicy": "storetheindex:storetheindex:name"}
  newTag: 20230725214852-50377dbdada1d9dfb69fd455b91a6a5fa7da6507 # {"$imagepolicy": "storetheindex:storetheindex:tag"}
