apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storetheindex
resources:
- service-account.yaml
- assigner
- instances
- indexstar
- dhstore
- dhfind
- caskadht
- snapshots
- lookout
- cassette
- heyfil
- dhstore-cluster
images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex # {"$imagepolicy": "storetheindex:storetheindex:name"}
  newTag: 20230531162822-2e76ba6307dc9f55ae9f9e2395531bc3d6d57324 # {"$imagepolicy": "storetheindex:storetheindex:tag"}
