apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storetheindex
resources:
- service-account.yaml
- assigner
- instances
- indexstar
- dhstore
- dhstore-ago2
- dhfind
- dhfind-ago2
- caskadht
- snapshots
- lookout
- cassette
- heyfil
- fdb-manager
- fdb-cluster
- dhstore-stateless
- fdbmeter
images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex # {"$imagepolicy": "storetheindex:storetheindex:name"}
  newTag: 20230613213049-15fa58f86dfb4ec6569faf87d9ccad7a56054f0c # {"$imagepolicy": "storetheindex:storetheindex:tag"}
