apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storetheindex
resources:
- service-account.yaml
- assigner
- instances
- indexstar
- dhstore
- dhfind
- caskadht
- snapshots
- lookout
- cassette
- heyfil
images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex # {"$imagepolicy": "storetheindex:storetheindex:name"}
  newTag: 20230401085705-ade8efad0120fd57c69b0f708091b284b9ee66b6 # {"$imagepolicy": "storetheindex:storetheindex:tag"}
