apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storetheindex
resources:
- assigner
- instances
- indexstar
images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex # {"$imagepolicy": "storetheindex:storetheindex:name"}
  newTag: 20221128155842-5eb5617401d6be67d4c4a40e2cab02924b3f25f0 # {"$imagepolicy": "storetheindex:storetheindex:tag"}
