apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: indexer
  labels:
    app: indexer
spec:
  selector:
    matchLabels:
      app: indexer
  namespaceSelector:
    matchNames:
      - storetheindex
  podMetricsEndpoints:
    - path: /metrics
      port: admin
