apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../base/assigner
  - ingress.yaml

patchesStrategicMerge:
  - deployment.yaml

secretGenerator:
  - name: identity
    behavior: create
    files:
      - identity.key=identity.key.encrypted # 12D3KooWQAymjDKMivbkUNiJP7ChRsvsDuazerHW4wERRvQMWNor

configMapGenerator:
  - name: config
    behavior: create
    files:
      - config=config.json

images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex
  newTag: 20240209210003-a622ff548cf6ba5aa0512848a504c2d4176331bd
