apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../../base/storetheindex-single
  - ingress.yaml
  - pvc-gp3.yaml

namePrefix: dido-

commonLabels:
  name: dido

secretGenerator:
  - name: identity
    behavior: replace
    files:
      - identity.key=identity.key.encrypted # 12D3KooWBHY2dGH8ngC6LjCiMC7JuRQf3DEb3Nk8neuntAGirb89

configMapGenerator:
  - name: config
    behavior: replace
    files:
      - config=config.json

patchesStrategicMerge:
  - deployment.yaml

replicas:
  - name: dido-indexer
    count: 0
