apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../../base/storetheindex-single
  - ingress.yaml

namePrefix: tara-

commonLabels:
  name: tara

secretGenerator:
  - name: identity
    behavior: replace
    files:
      - identity.key=identity.key.encrypted # 12D3KooWCpB1suDK2Pdto57hNjTEtJbg6yaYEZ4tUs7QztqpKbKe

configMapGenerator:
  - name: config
    behavior: replace
    files:
      - config=config.json

patchesStrategicMerge:
  - pvc.yaml
  - deployment.yaml

images:
  - name: storetheindex
    newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex
    newTag: 20221014221458-32e0eed4e3a0c4b3622965b89566454bb6406e78
