apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../base/monitoring

patchesStrategicMerge:
  - patch.yaml
  - prometheus-patch.yaml

replicas:
  - name: grafana
    count: 0