apiVersion: apps/v1
kind: Deployment
metadata:
  name: dhstore
spec:
  template:
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
      containers:
        - name: dhstore
          args:
            - '--providersURL=http://indexstar:8080/'
            - '--storeType=fdb'
            - '--fdbClusterFile=/config/cluster-file'
            - '--fdbApiVersion=730'
          resources:
            limits:
              cpu: "3"
              memory: 3Gi
            requests:
              cpu: "3"
              memory: 3Gi
          volumeMounts:
            - mountPath: /config
              name: config
      volumes:
        - name: config
          configMap:
            name: fdb-prod-cluster-config
