apiVersion: apps/v1
kind: Deployment
metadata:
  name: heyfil
spec:
  template:
    spec:
      containers:
        - name: heyfil
          args:
            - '--httpIndexerEndpoint=https://dev.cid.contact'
          resources:
            limits:
              cpu: "2"
              memory: 2Gi
            requests:
              cpu: "2"
              memory: 2Gi
            
