apiVersion: apps/v1
kind: Deployment
metadata:
  name: indexer
spec:
  template:
    spec:
      serviceAccountName: storetheindex
      # Wait at most 3 minutes for storetheindex process to exit.
      terminationGracePeriodSeconds: 180
      containers:
        - name: indexer
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            limits:
              cpu: "28"
              memory: 58Gi
            requests:
              cpu: "28"
              memory: 58Gi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.kubernetes.io/instance-type
                    operator: In
                    values:
                      - c6a.8xlarge
                  - key: topology.kubernetes.io/zone
                    operator: In
                    values:
                      - us-east-2c
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: inga-data

