apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../../base/storetheindex-single
  - ingress.yaml
  - pvc_data.yaml

namePrefix: inga-

commonLabels:
  name: inga

secretGenerator:
  - name: identity
    behavior: replace
    files:
      - identity.key=identity.key.encrypted # 12D3KooWGRNQLAeMZ658jcuCkVBcVnCkxVYT4GqknQV2tRwDXfRT

configMapGenerator:
  - name: config
    behavior: replace
    files:
      - config=config.json

patchesStrategicMerge:
  - deployment.yaml

images:
  - name: storetheindex
    newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex
    # Deploy a branch build that disables index counter from both ingest and find server
    # in order to relieve high cpu spikes that cause lookup outage. See: 
    #  - https://github.com/ipni/storetheindex/issues/2062
    #  - https://github.com/ipni/storetheindex/pull/2067
    newTag: 0.7.7
