apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: nginx
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/instance: ingress-nginx
      app.kubernetes.io/name: ingress-nginx
  namespaceSelector:
    matchNames:
      - ingress-nginx
  podMetricsEndpoints:
    - path: /metrics
      port: prometheus
