apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../base/assigner
  - ingress.yaml
  - service-external.yaml

patchesStrategicMerge:
  - deployment.yaml

secretGenerator:
  - name: identity
    behavior: create
    files:
      - identity.key=identity.key.encrypted # 12D3KooWDBjcDRQ7CKJeF9Yy3UKbriHfyETDrXKzTDB6biH3ibBd

configMapGenerator:
  - name: config
    behavior: create
    files:
      - config=config.json

images:
- name: storetheindex
  newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex
  newTag: 20240229211536-030177a2de23da892ae38d8ffda81c940c07af95
