apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../base/cassette
  - service-external.yaml
  - pod-monitor.yaml

patchesStrategicMerge:
  - deployment.yaml
  - service.yaml

secretGenerator:
  - name: cassette-identity
    files:
      - identity.key=identity.key.encrypted # 12D3KooWAWotmkS2KKRYaJWHDx9jPfKXT9k8jAiThKH5oVRnbB1m

configMapGenerator:
  - name: cassette-env-vars
    behavior: merge
    literals:
      - GOLOG_LOG_LEVEL="info,net/identify=error"
  - name: cassette-config
    behavior: create
    files:
      - config.yaml

replicas:
  - name: cassette
    count: 1

images:
  - name: cassette
    newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/ipni/cassette
    newTag: 20230531122710-b5b419bed2a7e2cbbc2c1d5ebc0d5b936374eb67
