apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-system

resources:
  - ../../../../base/flux-system
  - cluster-cd.yaml

patchesStrategicMerge:
  - sa-patch.yaml

replicas:
  - name: helm-controller
    count: 0
  - name: notification-controller
    count: 0
