apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../base/caskadht
  - pod-monitor.yaml

patchesStrategicMerge:
  - deployment.yaml
  - service.yaml

secretGenerator:
  - name: caskadht-identity
    files:
      - identity.key=identity.key.encrypted # 12D3KooWANvdTsGoqpHeeYirAQYZToEX4BtrTUW73rsRfvCP6Yd4

configMapGenerator:
  - name: caskadht-env-vars
    behavior: merge
    literals:
      - GOLOG_LOG_LEVEL="info,net/identify=error"

replicas:
  - name: caskadht
    count: 5

images:
  - name: caskadht
    newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/ipni/caskadht
    newTag: 20230919184200-e4d0d94109c5cda540ccd116c17e43af177ee252
