apiVersion: apps/v1
kind: Deployment
metadata:
  name: indexstar
spec:
  template:
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
      containers:
        - name: indexstar
          args:
            - '--translateNonStreaming'
            # Use service names local to the namespace over HTTP to avoid
            # TLS handshake overhead.
            - '--providersBackends=http://ago-indexer:3000/'
            - '--backends=http://dhstore-ago4.internal.dev.cid.contact/'
            - '--backends=http://dhstore-ago3.internal.dev.cid.contact/'
            - '--backends=http://dhstore-ago2.internal.dev.cid.contact/'
            - '--backends=http://dhstore.internal.dev.cid.contact/'
            - '--dhBackends=http://dhstore-ago4.internal.dev.cid.contact/'
            - '--dhBackends=http://dhstore-ago3.internal.dev.cid.contact/'
            - '--dhBackends=http://dhstore-ago2.internal.dev.cid.contact/'
            - '--dhBackends=http://dhstore.internal.dev.cid.contact/'
            - '--cascadeBackends=http://caskadht.internal.dev.cid.contact/'
            - '--cascadeBackends=http://cassette.internal.dev.cid.contact/'
          env:
            # Increase maximum accepted request body to 1 MiB in order to allow batch finds requests
            # by the `provider verify-ingest` CLI command. 
            - name: SERVER_MAX_REQUEST_BODY_SIZE
              value: '1048576'
            # The service provided by caskadht.
            - name: SERVER_CASCADE_LABELS
              value: 'ipfs-dht,legacy'
            - name: SERVER_HTTP_CLIENT_TIMEOUT
              value: '30s'
            - name: SERVER_RESULT_MAX_WAIT
              value: '2s'
            - name: SERVER_RESULT_STREAM_MAX_WAIT
              value: '30s'
          resources:
            limits:
              cpu: "3"
              memory: 2Gi
            requests:
              cpu: "3"
              memory: 2Gi
