apiVersion: apps/v1
kind: Deployment
metadata:
  name: cassette
spec:
  selector:
    matchLabels:
      app: cassette
  template:
    metadata:
      labels:
        app: cassette
    spec:
      containers:
        - name: cassette
          image: cassette
          envFrom:
            - configMapRef:
                name: cassette-env-vars
          ports:
            - containerPort: 40080
              name: http
          readinessProbe:
            httpGet:
              port: http
              path: /ready
            initialDelaySeconds: 3
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 5
            periodSeconds: 10
