apiVersion: apps/v1
kind: Deployment
metadata:
  name: dhstore
spec:
  template:
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
      containers:
        - name: dhstore
          args:
            - '--storePath=/data'
            - '--disableWAL'
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            limits:
              cpu: "3"
              memory: 28Gi
            requests:
              cpu: "3"
              memory: 28Gi
          ports:
            - containerPort: 40081
              name: metrics
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.kubernetes.io/instance-type
                    operator: In
                    values:
                      - c5n.2xlarge
                  - key: topology.kubernetes.io/zone
                    operator: In
                    values:
                      - us-east-2c    
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: dhstore-data
