apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../../base/storetheindex-single
  - ingress.yaml
  - pvc_data.yaml

namePrefix: ago-

commonLabels:
  name: ago

secretGenerator:
  - name: identity
    behavior: replace
    files:
      - identity.key=identity.key.encrypted # 12D3KooWCSqbkKKKYW8RkqwRTt2M6xihv4LgmX5U1qDe3va7FR9Q

configMapGenerator:
  - name: config
    behavior: replace
    files:
      - config=config.json

patchesStrategicMerge:
  - deployment.yaml

images:
  - name: storetheindex
    newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/storetheindex/storetheindex
    newTag: 20230829230107-68a33053a60c3e24fc52308bcdea419bd0c2b0ad
