apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dhstore-data-gp3
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 16Ti
  dataSource:
    name: dhstore-20230427
    kind: VolumeSnapshot
    apiGroup: snapshot.storage.k8s.io
  storageClassName: gp3-iops5k-t300