apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../base/telemetry
  - pod-monitor.yaml

patchesStrategicMerge:
  - deployment.yaml

images:
  - name: telemetry
    newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/ipni/telemetry
    newTag: 20240308135359-c8e7f0dd9599b74c64b2247580de5987f56ecbd7

