apiVersion: apps/v1
kind: Deployment
metadata:
  name: dhstore
spec:
  template:
    spec:
      containers:
        - name: dhstore
          args:
            - '--providersURL=http://inga-indexer:3000/'
            - '--storePath=/data'
            - '--disableWAL'
            - '--blockCacheSize=2Gi'
          env:
            - name: GO_DEBUG_MAX_THREADS
              value: "20000"
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            limits:
              cpu: "28"
              memory: 58Gi
            requests:
              cpu: "28"
              memory: 58Gi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node.kubernetes.io/instance-type
                    operator: In
                    values:
                      - c6a.8xlarge
                  - key: topology.kubernetes.io/zone
                    operator: In
                    values:
                      - us-east-2b
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: dhstore-data-qiu

