apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: storetheindex

resources:
  - ../../../../../base/indexstar
  - ingress.yaml
  - pod-monitor.yaml

patchesStrategicMerge:
  - deployment.yaml

replicas:
  - name: indexstar
    count: 3

images:
  - name: indexstar
    newName: 407967248065.dkr.ecr.us-east-2.amazonaws.com/indexstar/indexstar
    newTag: 20230920183356-bcdef5229fd2e94b366041b079221930cb85b978
